@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');



/* custom variables / values */
:root{
    --bg-primary:#4ad896;
    --color-primary: #0e1a60;
}
body{
    font-family: 'Open Sans',sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}
a,a:hover,a:focus{
    text-decoration: none;
}
ul{
margin: 0px;
padding: 0px;
}
li{
list-style: none;
}
img{
max-width: 100%;
}
h1,h2,h3,h4,h5,h6{
font-weight: 700;
}
h2{
    font-size: 44px;
    margin-bottom: 15px;
}
h3{
    font-size: 25px;
    line-height: 32px;
    font-weight: 600;
}
section,.container{
position: relative;
}
.lead{
    font-weight: 500;
}

/* Header style */
header{
    background-color: var(--bg-primary);
    position: absolute;
    width: 100%;
    z-index: 1;
}
header .navbar-expand-lg .navbar-nav .nav-link{
    color:rgb(87, 11, 11);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 11px;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color:rgb(121, 6, 6);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color:rgb(224, 24, 24);
}

/* Banner style */
.hero-banner{
    background: url(../images/our_team.jpg) no-repeat;
    background-size: cover;
    padding: 200px 0px;
    min-height: 500px;
    position: relative;
}
.hero-banner::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(5 38 100/91%);
}
.banner-text-wrap h1{
    font-size: 60px;
    font-weight: 700;
    color:rgb(221, 215, 218);
}
.banner-text-wrap p{
    margin-top: 15px;
    margin-bottom: 23px;
}
.btn{
    padding: 8px 24px;
    border-radius: 0px;
    font-size: 15px;
    font-weight: 700;
}
.btn-white{
    background: #FFF;
    color: var(--color-primary);
}
.banner-text-wrap{
    max-width: 600px;
}

/* Feature box style */
section.feature-section{
    margin-top: -70px;
}
.features-box{
    padding: 40px;
}
.features-box h3{
    color: white;
    text-align: center;
}
.features-box img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 40%;
}
.features-box p{
    color: white;
    align-content: space-around;
}
.bg1{
background: #074de4;
}
.bg2{
    background: #265dd3;
}
.bg3{
    background: #506fd3;
}


/* About Section */
section.about-section{
    padding: 100px 0px;
}
.btn-primary{
    border-color: var(--bg-primary);
    background-color: var(--bg-primary);
}
.about-media{
    border: 10px solid var(--color-primary);
}


/* Services section */
.section-title{
    margin-bottom: 60px;
}
section.services-section{
    padding: 100px 0px 50px;
    background: #f7f1f1;
}
.services-box{
background: rgb(243, 237, 237);
padding: 30px;
margin-bottom: 50px;
text-align: center;
}

/* review section */
.review-section{
    background: url(../images/review.jpg);
    background-size: cover;
}
.review-media{
    width: 100%;
}
.review-media img{
    width: 100px !important;
    border-radius:50% !important;
    display: inline-block !important ; 
}
.bg-overlay:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
}
.review-section{
    padding: 100px 0px;
}
.review-section h2{
    color: #FFF;
    text-align: center;
}
.review-box{
    color: #FFF;
    text-align: center;
    max-width: 700px;
    margin: 0px auto;
}
.review-box p{
    font-size: 18px;
    margin: 26px 0px 26px;
}
.review-box h4{
    text-transform: uppercase;
}
.review-box h5{
    font-size: 14px;
    font-weight: 500;
}

/* team section */
section.team-section{
    padding: 100px 0px;
}
.team-info{
    text-align: center;
}
.team-info h3{
    margin-top: 25px;
    margin-bottom: 0;
}
ul.team-social li{
    display: inline-block;
}
ul.team-social li a{
    width: 35px;
    height: 35px;
    border: 1px solid var(--color-primary);
    display: inline-block;
    text-align: center;
    line-height: 35px;
    color: var(--color-primary);
}
/* .team-media{
    align-items: center;
} */
/* .center{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;  
} */

/* Appointment section */
.booking-section{
    background: url(../images/booking.jpeg);
    background-size: cover;
    padding: 100px 0;
}
.form-control{
    height: 60px;
    border-radius: 0;
}
.form-group{
    margin-bottom: 10px;
}
textarea{
    height: 224px !important;
}
.form-col h4{
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: 400;
}
.form-col h3{
    font-size: 36px;
    color: white;
    margin: 8px 0px 50px;
}

/* blog section */
section.blog-section{
    padding: 100px 0px;
}
.blog-info{
    text-align: center;

}
.blog-info h3 a{
    color: #000;
}
ul.meta li{
    display: inline-block;
}
.blog-info p{
    margin-top: 20px;
    text-align: left;
}
.blog-media {
    margin-bottom: 17px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.blog-box{
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(109, 106, 106, 0.87);
}

/* footer */
footer{
    background: var(--bg-primary);
    padding: 100px 0px;
    color: white;
}
ul.footer-address{
    display:flex;
    flex-direction: column;
}
ul.footer-address h4{
    margin-left: 12px;
    margin-top: 8px;
}
ul.footer-address li i{
    position: absolute;
    left: 0;
    top: 10px;
    font-size: 22px;
}
ul.footer-address li{
    position: relative;
    padding-left: 15px;
}
ul.footer-address li a{
    color: #FFF;
}
.footer-widget h3{
    margin-bottom: 30px;
}
ul.footer-menu li a{
    font-size: 16px;
    color: white;
    margin-bottom: 6px;
    display: inline-block;
}


/* responsive style */
@media (min-width:992px) and (max-width:1400px){
    header .navbar-expand-lg .navbar-nav.nav-link{
        padding:10px 11px;
        font-size:14px;
    }
}

@media (max-width:991px){
    .navbar-toggler-icon{
        background: white;
        padding: 20px;
    }

    .navbar-toggler:focus{
        box-shadow: none;
    }
    .review-section{
        padding: 40px 0px;
    }
    
    .section-title{
        font-size: 25px;
        margin-bottom: 30px;
    }
    .review-box p{
        font-size: 15px;
    }
    .banner-text-wrap h1{
        font-size: 35px;
    }
    .hero-banner{
        padding: 135px 0px;
        min-height: auto;
    }
    .booking-section{
        padding: 40px 0px;
    }
    footer{
        padding: 40px 10px;
    }
    section.blog-section{
        padding: 40px 0px;
    }
    .team-box{
        margin-bottom: 30px;
    }
    section.team-section, section.services-section{
        padding: 30px 0px;
    }
    .services-box{
        margin-bottom: 20px;
    }
    .about-media{
        margin-bottom: 30px;
    }
    .features-box{
        margin-bottom: 30px;
    }
    section.about-section{
        padding: 30px 0px 40px;
    }
    .team-box{
        margin-bottom: 40px;
}
}

